@import url("./reset.css");

.layout {
	width: 100%;
}

.logo {
	height: 64px;
	margin: 24px 16px;
	display: block;
	mask: center / contain url("./img/logo.svg") no-repeat;
	background-color: #fff;
}

.header {
	padding: 0;
	background-color: #fff;
}

.content {
	margin: 24px 16px 0;
}

.inner {
	color: #171717;
	background-color: #fff;
	padding: 24px;
	min-height: calc(100vh - 152px);
}

.sider {
	color: #fff;
	background-color: #003a8c !important;
	padding: 24px;
}

.footer {
	text-align: center;
}
