.layout {
	width: 100%;
}

.header {
	text-align: center;
	color: #171717;
	height: 64px;
	padding-inline: 50px;
	line-height: 64px;
	background-color: #fafafa;
}

.content {
	text-align: center;
	min-height: 120px;
	line-height: 120px;
	color: #171717;
	background-color: #fff;
}

.sider {
	text-align: center;
	line-height: 120px;
	color: #fff;
	background-color: #003a8c !important;
}

.footer {
	text-align: center;
	color: #fff;
	background-color: #1f1f1f;
}