.layout {
	width: 100%;
}

.header {
	color: #171717;
	height: 64px;
	padding: 24px 16px;
	background-color: #fafafa;
	line-height: 16px;
}

.content {
	color: #171717;
	background-color: #fff;
	padding: 24px 16px;
	min-height: calc(100vh - 128px);
}

.sider {
	color: #fff;
	background-color: #003a8c !important;
	padding: 24px;
}

.footer {
	text-align: center;
	color: #fff;
	background-color: #1f1f1f;
}